[submodule "u-boot"]
	path = repos/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "opensbi"]
	path = repos/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "repos/qemu-system"]
	path = repos/qemu-system
	url = https://github.com/Avimitin/archriscv-scriptlet-for-bootloader.git
